<nav class="navbar">
    <span class="logo"><a href="/">FILMIX</a></span>
    
    <ul class="nav-list">
        <li><a href="films">ФІЛЬМИ</a></li>
        <li><a href="#">МУЛЬТФІЛЬМИ</a></li>
        <li><a href="#">СЕРІАЛИ</a></li>
        <li><a href="#">АНІМЕ</a></li>
    </ul>
    <input class="input-search" type="search" placeholder="Введіть назву">
    <button class="search">Пошук</button>
    <button class="sign-in">Ввійти</button>
</nav>
